/* ========================================
   RESET
======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
      
}

body {
    font-family: Georgia, "Times New Roman", serif;
    background: #f8f1e7;
    color: #5b4636;
    line-height: 1.7;
}


/* ========================================
   COVER / HALAMAN PEMBUKA
======================================== */


.cover {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 30px;

    position: relative;

    overflow: hidden;

    background-image:
        linear-gradient(
            rgba(248, 241, 231, 0.65),
            rgba(248, 241, 231, 0.82)
        ),
        url("../assets/images/cover.jpg");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;
}
.cover::before {
    top: -70px;
    left: -70px;
}

.cover::after {
    bottom: -70px;
    right: -70px;
}


.cover-content {
    max-width: 600px;

    animation: fadeIn 1.5s ease;
}


.subtitle {
    letter-spacing: 4px;
    font-size: 13px;
    color: #a47c45;
    margin-bottom: 20px;
}


.cover h1 {
    font-size: clamp(45px, 10vw, 80px);
    font-weight: normal;

    line-height: 1.15;

    color: #5b4636;

    margin-bottom: 20px;
}


.cover h1 span {
    font-size: 35px;
    color: #b6925a;
}


.date {
    font-size: 18px;
    color: #80654d;

    margin-bottom: 35px;
}


.guest {
    font-size: 15px;

    color: #6d5745;

    margin-bottom: 25px;
}


/* ========================================
   BUTTON
======================================== */

button {
    border: none;

    background: #a47c45;

    color: white;

    padding: 14px 28px;

    border-radius: 30px;

    cursor: pointer;

    font-size: 13px;

    letter-spacing: 2px;

    transition: 0.3s;
}


button:hover {
    background: #806039;

    transform: translateY(-2px);
}


/* ========================================
   MAIN CONTENT
======================================== */

#mainContent {
    display: none;
 
}

.hero {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 40px 20px;

    
    transition:
        opacity 0.8s ease-out,
        transform 0.8s ease-out;

}

.hero h2 {
    font-size: clamp(38px, 8vw, 70px);

    font-weight: normal;

    color: #5b4636;

    margin-bottom: 20px;
}


.hero h2 span {
    color: #b6925a;
    margin: 0 10px;
}




 /* ========================================
   SECTION / SLIDE
======================================== */

.section {
    max-width: 900px;

    min-height: 100vh;

    margin: auto;

    padding: 90px 25px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    
    transition: opacity 0.8s ease, transform 0.8s ease;
}
/* ========================================
   EFEK SLIDE HALAMAN
======================================== */

/* ========================================
   ANIMASI HALAMAN LEBIH SMOOTH
======================================== */

.section {
    opacity: 0.85;
    transform: scale(0.98);
    transition:
        opacity 0.8s ease-out,
        transform 0.8s ease-out;
}

.section:hover {
    opacity: 1;
}

.section h2 {
    font-size: 32px;

    font-weight: normal;

    color: #5b4636;

    margin-bottom: 25px;
}


.section p {
    max-width: 650px;

    margin: 0 auto 15px;
}


/* ========================================
   COUPLE
======================================== */
/* =========================
   FOTO MEMPELAI
========================= */

.couple {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: nowrap;
}

.person {
    width: 220px;
    text-align: center;
}

.and {
    font-size: 32px;
    font-family: serif;
    text-align: center;
    flex-shrink: 0;
    transform: translateY(-80px);
}

.couple-photo {
    width: 200px;
    height: 280px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    display: block;
    margin: 0 auto 18px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}




.person h3 {
    font-size: 24px;

    font-weight: normal;

    margin-bottom: 10px;
}


.and {
    font-size: 40px;

    color: #b6925a;
}


/* ========================================
   COUNTDOWN
======================================== */

.countdown-section {
    background: #efe3d2;

    max-width: 100%;

    padding-left: 20px;
    padding-right: 20px;
}


.countdown {
    display: flex;

    justify-content: center;

    gap: 15px;

    margin-top: 35px;

    flex-wrap: wrap;
}


.countdown div {
    width: 90px;

    padding: 18px 10px;

    background: rgba(255,255,255,0.55);

    border-radius: 12px;
}


.countdown span {
    display: block;

    font-size: 30px;

    color: #8a673d;
}


.countdown small {
    color: #80654d;
}


/* ========================================
   EVENT
======================================== */

.event {
    max-width: 550px;

    margin: 30px auto;

    padding: 30px;

    background: rgba(255,255,255,0.45);

    border-radius: 15px;
}


.event h3 {
    color: #9a7241;

    letter-spacing: 2px;

    margin-bottom: 15px;
}


/* ========================================
   CLOSING
======================================== */

.closing {
    padding-bottom: 120px;
}


.closing h2 {
    margin-bottom: 25px;
}


/* ========================================
   ANIMATION
======================================== */

@keyframes fadeIn {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}


/* ========================================
   MOBILE
======================================== */

@media (max-width: 600px) {

    .cover {
        padding: 20px;
    }


    .cover h1 {
        font-size: 48px;
    }


    .couple {
        flex-direction: column;

        gap: 20px;
    }


    .and {
        font-size: 30px;
    }


    .section {
        padding: 70px 20px;
    }


    .countdown div {
        width: 75px;
    }


    .countdown span {
        font-size: 24px;
    }

    .couple {
    gap: 30px;
}

.person {
    width: 180px;
}

.couple-photo {
    width: 170px;
    height: 240px;
}
.quote-arab h1 {
    font-size: 23px;
    line-height: 2;
}

.quote-arab h5 {
    font-size: 15px;
    line-height: 1.8;
}
}
/* ========================================
   EFEK SLIDE HALAMAN UNDANGAN
======================================== */

/* ========================================
   EFEK SECTION MENYAMBUNG
======================================== */

.slide-page {
    opacity: 0.45;
    filter: blur(5px);
    transform: scale(0.98);

    transition:
        opacity 0.7s ease,
        filter 0.7s ease,
        transform 0.7s ease;
}


/* SECTION YANG SEDANG TERLIHAT */

.slide-page.active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
}


/* SECTION SEBELUMNYA */

.slide-page.before {
    opacity: 0.45;
    filter: blur(5px);
    transform: translateY(-25px) scale(0.98);
}


/* SECTION BERIKUTNYA */

.slide-page.after {
    opacity: 0.45;
    filter: blur(5px);
    transform: translateY(25px) scale(0.98);
}

/* ========================================
   AYAT PERNIKAHAN
======================================== */

.quote-section {
    text-align: center;
}

.quote-arab {
    max-width: 800px;
    margin: 30px auto 0;
}

.quote-arab h1 {
    font-size: 30px;
    line-height: 2;
    font-weight: normal;
    margin-bottom: 30px;
}

.quote-arab h5 {
    max-width: 700px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.9;
    font-weight: normal;
    color: #6b5747;
}

.quote-source {
    margin-top: 25px;
    font-size: 14px;
    font-style: italic;
    color: #8a6f55;
}

/* ========================================
   DETAIL ACARA
======================================== */

.event {
    max-width: 500px;
    width: 100%;
    margin: 25px auto;
    padding: 30px 25px;

    background: rgba(255, 255, 255, 0.45);

    border: 1px solid rgba(138, 111, 85, 0.25);
    border-radius: 15px;

    box-shadow:
        0 8px 25px rgba(91, 70, 54, 0.08);
}

.event h3 {
    margin-bottom: 18px;

    font-size: 20px;
    letter-spacing: 2px;

    color: #7a5c42;
}

.event p {
    margin: 6px 0;

    font-size: 16px;
    color: #6b5747;
}

.event p:first-of-type {
    font-weight: bold;
    color: #5b4636;
}


/* ========================================
   KARTU LOKASI GOOGLE MAPS
======================================== */

.maps-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 260px;

    margin: 35px auto 0;
    padding: 15px 20px;

    text-decoration: none;

    background: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(138, 111, 85, 0.3);
    border-radius: 12px;

    box-shadow:
        0 6px 20px rgba(91, 70, 54, 0.08);

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.maps-card:hover {
    transform: translateY(-3px);

    box-shadow:
        0 10px 25px rgba(91, 70, 54, 0.15);
}

.maps-icon {
    width: 55px;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    animation: locationMove 1.8s ease-in-out infinite;
}

.maps-icon {
    width: 55px;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    animation: locationMove 1.8s ease-in-out infinite;
}

/* ========================================
   ICON LOCATION CSS
======================================== */

.location-pin {
    width: 32px;
    height: 32px;

    background: #aa2109;

    border-radius: 50% 50% 50% 0;

    transform: rotate(-45deg);

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow:
        0 5px 12px rgba(211, 23, 10, 0.797);
}

.location-dot {
    width: 11px;
    height: 11px;

    background: #d2ddddb2;

    border-radius: 50%;

    position: absolute;
}

/* ========================================
   ANIMASI ICON LOKASI
======================================== */

@keyframes locationMove {

    0% {
        transform: translateY(0) scale(1);
    }

    25% {
        transform: translateY(-6px) scale(1.03);
    }

    50% {
        transform: translateY(0) scale(1);
    }

    75% {
        transform: translateY(-3px) scale(1.02);
    }

    100% {
        transform: translateY(0) scale(1);
    }

}

.maps-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.maps-text strong {
    font-size: 15px;
    letter-spacing: 1px;
    color: #6b5038;
}

.maps-text span {
    font-size: 13px;
    color: #8a7562;
    margin-top: 2px;
}

/* ========================================
   ICON MAPS AKAD & RESEPSI
======================================== */

/* ========================================
   TOMBOL MAPS AKAD & RESEPSI
======================================== */

.maps-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 9px;

    margin-top: 15px;

    padding: 10px 18px;

    background: rgba(255, 255, 255, 0.65);

    border: 1px solid rgba(138, 111, 85, 0.3);

    border-radius: 10px;

    color: #6b5038;

    font-size: 13px;
    font-weight: 600;

    letter-spacing: 0.5px;

    text-decoration: none;

    box-shadow:
        0 5px 15px rgba(91, 70, 54, 0.10);

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        background 0.3s ease;
}

/* EFEK SAAT DISENTUH */
.maps-button:hover {
    transform: translateY(-2px);

    background: rgba(255, 255, 255, 0.9);

    box-shadow:
        0 8px 20px rgba(91, 70, 54, 0.15);
}
/* PIN MERAH */
.location-pin-small {
    width: 20px;
    height: 20px;

    background: #e53935 !important;

    border-radius: 50% 50% 50% 0;

    transform: rotate(-45deg);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-shadow:
        0 3px 7px rgba(229, 57, 53, 0.25);

    animation: locationMoveSmall 1.8s ease-in-out infinite;
}

/* TITIK TENGAH */
.location-dot-small {
    width: 7px;
    height: 7px;

    background: #f8f1e7;

    border-radius: 50%;
}

/* ANIMASI */
@keyframes locationMoveSmall {

    0% {
        transform: rotate(-45deg) translateY(0) scale(1);
    }

    25% {
        transform: rotate(-45deg) translateY(-3px) scale(1.05);
    }

    50% {
        transform: rotate(-45deg) translateY(0) scale(1);
    }

    75% {
        transform: rotate(-45deg) translateY(-2px) scale(1.03);
    }

    100% {
        transform: rotate(-45deg) translateY(0) scale(1);
    }
}